{"filter":false,"title":".eslintrc","tooltip":"/.eslintrc","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":8,"column":1},"action":"insert","lines":["{","  \"env\": {","    \"browser\": 1","  },"," ","  \"globals\": {","    \"angular\": 1","  }","}"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":8,"column":1},"end":{"row":8,"column":1},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1531414530498,"hash":"58e64ce9b94e144cb51e67dc6bbd82a6cb716b78"}