{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":97},"end":{"row":5,"column":97},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":78,"mode":"ace/mode/apache_conf"}},"timestamp":1531416813585,"hash":"386a6a2727e99984528562d3fad8f9b52fb2440f"}